{% if iwish_v2 == 'iwishlink' %}
	<a class="iWishView" href="/apps/iwish">
		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M15 25.5375C14.8584 25.5361 14.7187 25.5053 14.5896 25.4472C14.4605 25.3892 14.3449 25.305 14.25 25.2L6.16246 15.85C5.17861 14.7592 4.66158 13.3263 4.72234 11.8586C4.7831 10.391 5.41681 9.00565 6.48746 7.99997C7.54673 7.00553 8.94706 6.45524 10.4 6.46247V7.23747V6.46247H10.4875C11.9915 6.49837 13.4203 7.12742 14.4625 8.21247L15 8.74997L15.2625 8.44997C16.2561 7.31634 17.6552 6.61825 19.1585 6.50603C20.6618 6.39381 22.149 6.87643 23.3 7.84997C23.867 8.33183 24.3326 8.92164 24.6696 9.58509C25.0066 10.2485 25.2083 10.9724 25.2629 11.7145C25.3176 12.4566 25.2242 13.2022 24.988 13.9079C24.7519 14.6136 24.3778 15.2652 23.8875 15.825L15.775 25.225C15.6845 25.3298 15.5734 25.4149 15.4487 25.4751C15.324 25.5353 15.1883 25.5693 15.05 25.575L15 25.5375ZM10.575 8.01247H10.4C9.324 7.99731 8.28421 8.40068 7.49996 9.13747C6.7314 9.86817 6.27797 10.8697 6.23596 11.9293C6.19395 12.989 6.56667 14.0232 7.27496 14.8125L15 23.675L22.6875 14.7625C23.051 14.363 23.332 13.8956 23.5143 13.3872C23.6966 12.8788 23.7767 12.3394 23.75 11.8C23.7121 11.2634 23.5663 10.74 23.3215 10.261C23.0766 9.78207 22.7377 9.35742 22.325 9.01247C21.4885 8.30308 20.407 7.95019 19.3131 8.02967C18.2192 8.10914 17.2001 8.61462 16.475 9.43747L15.975 10.025C15.8638 10.1472 15.7295 10.2461 15.5798 10.3161C15.4302 10.3861 15.2682 10.4257 15.1031 10.4327C14.938 10.4397 14.7732 10.4138 14.6182 10.3567C14.4632 10.2996 14.321 10.2124 14.2 10.1L13.425 9.28747C12.6764 8.50879 11.6544 8.05159 10.575 8.01247Z" fill="black"></path>
		</svg>
		(<span class="iWishCount">0</span>)
	</a>
{% elsif iwish_v2 == 'iwishCollection' %}
	<a class="iWishAddColl iwishcheck" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
		<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path>
			<path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path>
			<path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path>
		</svg>
	</a>
{% elsif iwish_v2 == 'iwishProduct' %} 
	<a class="iWishAdd iWishAdd__Product" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
		<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path>
			<path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path>
			<path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path>
		</svg>
	</a>
{% elsif iwish_v2 == 'iwishfooter' %}
	<script type="text/javascript">
		var iwish_shop = "{{ shop.permanent_domain }}";
		var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
		var iwish_cid = "{{ customer.id }}";
		//Add to Wishlist - Product Page Text
		var iwish_added_txt = "<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path><path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path><path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path></svg>";
		var iwish_add_txt = "<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path><path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path><path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path></svg>";
		//Add to Wishlist - Collection Page Text
		var iwish_added_txt_col = "<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path><path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path><path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path></svg>";
		var iwish_add_txt_col = "<svg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M14.95 27.5875C21.8742 27.5875 27.4875 21.9742 27.4875 15.05C27.4875 8.12568 21.8742 2.51245 14.95 2.51245C8.0257 2.51245 2.41248 8.12568 2.41248 15.05C2.41248 21.9742 8.0257 27.5875 14.95 27.5875Z'></path><path d='M12.15 10.55C11.5721 10.5531 11.0073 10.7217 10.5222 11.0357C10.0371 11.3498 9.65217 11.7962 9.41285 12.3222C9.17353 12.8481 9.08987 13.4317 9.17177 14.0037C9.25367 14.5757 9.4977 15.1123 9.87499 15.55L14.875 21.35C14.8866 21.3655 14.9017 21.3781 14.9191 21.3868C14.9364 21.3955 14.9556 21.4 14.975 21.4C14.9944 21.4 15.0135 21.3955 15.0309 21.3868C15.0482 21.3781 15.0633 21.3655 15.075 21.35L20.075 15.5C20.3405 15.2049 20.5429 14.8586 20.6697 14.4824C20.7965 14.1063 20.8451 13.7081 20.8125 13.3125C20.7982 12.923 20.7069 12.5402 20.5439 12.1862C20.3808 11.8322 20.1492 11.514 19.8625 11.25C19.2443 10.7286 18.4462 10.4705 17.6398 10.5313C16.8334 10.5921 16.083 10.9668 15.55 11.575L15.2375 11.9375C15.2129 11.9663 15.1822 11.9891 15.1475 12.0042C15.1129 12.0194 15.0753 12.0265 15.0375 12.025C15.0007 12.028 14.9637 12.0229 14.9291 12.0099C14.8945 11.997 14.8632 11.9765 14.8375 11.95L14.3625 11.4625C14.0878 11.1702 13.7568 10.9365 13.3895 10.7754C13.0222 10.6143 12.6261 10.5291 12.225 10.525L12.15 10.55Z'></path><path d='M15 21.75C14.9363 21.7503 14.8733 21.7371 14.8151 21.7113C14.757 21.6854 14.7049 21.6475 14.6625 21.6L9.66248 15.7875C9.07992 15.1441 8.77318 14.2977 8.80825 13.4305C8.84331 12.5632 9.21738 11.7443 9.84998 11.15C10.4812 10.5619 11.3123 10.2357 12.175 10.2375V10.55V10.2375C12.624 10.2386 13.0684 10.3287 13.4825 10.5024C13.8966 10.6762 14.2721 10.9303 14.5875 11.25L15.0625 11.75L15.3125 11.3875C15.8971 10.714 16.7237 10.2982 17.613 10.2303C18.5023 10.1624 19.3824 10.448 20.0625 11.025C20.4074 11.3066 20.6908 11.6561 20.8951 12.0517C21.0994 12.4474 21.2202 12.8808 21.25 13.325C21.2834 13.763 21.2288 14.2033 21.0892 14.6198C20.9497 15.0363 20.7281 15.4206 20.4375 15.75L15.4375 21.6C15.3965 21.6459 15.3464 21.6829 15.2905 21.7087C15.2346 21.7345 15.174 21.7486 15.1125 21.75H15ZM12.225 10.8625H12.15C11.6255 10.8585 11.1112 11.0066 10.6692 11.2889C10.2271 11.5712 9.87644 11.9755 9.65951 12.453C9.44259 12.9305 9.36874 13.4607 9.44692 13.9793C9.52509 14.4979 9.75194 14.9827 10.1 15.375L15 21.025L20 15.3375C20.4491 14.7978 20.6702 14.1043 20.6166 13.4042C20.5629 12.7042 20.2386 12.0525 19.7125 11.5875C19.1604 11.1141 18.4439 10.8774 17.7185 10.9289C16.993 10.9803 16.3171 11.3158 15.8375 11.8625L15.5125 12.2375C15.4578 12.2931 15.3926 12.3372 15.3207 12.3673C15.2488 12.3974 15.1717 12.413 15.0937 12.413C15.0158 12.413 14.9386 12.3974 14.8667 12.3673C14.7948 12.3372 14.7297 12.2931 14.675 12.2375L14.1875 11.7375C13.9386 11.4639 13.6357 11.2449 13.298 11.0943C12.9602 10.9437 12.5948 10.8648 12.225 10.8625Z'></path></svg>";
		
		//Quick View - Classes
		var iwish_qvButton = '.quick_view';
		var iwish_qvWrapper = '.reveal-modal';
	</script>
	<script type="text/javascript">
		(function () {
			function iWishLoadScript(e, t) {
			for (var a = 0; a < e.length; a++) {
				var n = document.createElement("script");
				(n.type = "text/javascript"),
				(n.async = !0),
				(n.src = e[a]),
				document.getElementsByTagName("head")[0].appendChild(n),
				0 == a &&
					(n.readyState
					? (n.onreadystatechange = function () {
						("loaded" !== n.readyState && "complete" !== n.readyState) ||
							((n.onreadystatechange = null), t());
						})
					: (n.onload = function () {
						t();
					}));
				}
			}
			function asyncLoadshopapps() {
			var iWishUrls = ["https://cdn.myshopapps.com/iwish/iwishlist_v2.js"];
			iWishLoadScript(iWishUrls, function () {
				jQuery("a[href='/apps/iwish']").click(function (e) {
				if (typeof Storage !== "undefined") {
					e.preventDefault();
					iWishPost("/apps/iwish", {
					iwishlist: JSON.stringify(iWishlistmain),
					cId: iwish_cid,
					});
				}
				});
				jQuery(".iWishAdd").click(function () {
				var iWishvId = jQuery(this)
					.parents(iwishWrapperClass)
					.find(iWishVarSelector)
					.val();
				iwish_add(jQuery(this), iWishvId);
				return false;
				});
				jQuery(".iWishAddColl").click(function () {
				var iWishvId = jQuery(this).attr("data-variant");
				iwish_addCollection(jQuery(this), iWishvId);
				return false;
				});
			});
			}
			if (window.addEventListener) {
				window.addEventListener("load", asyncLoadshopapps, true);
			} else if (window.attachEvent) {
				window.attachEvent("onload", asyncLoadshopapps);
			} else {
				window.onload = asyncLoadshopapps;
			}
			$(document).ready(function() {
				setTimeout(() => {
					$('.iwishBuyBtn').click(function() {
						goCart.fetchAndOpenCart();
					});
				}, 1500);
			});
		})();
	</script>
{% endif %}

{%- comment -%}
	{% elsif iwish_v2 == 'iwishproduct' %}
	<div class="iwishAddWrap">
  		<a class="iWishAdd" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">Add to Wishlist</a>
  		{% unless customer %}
  			<p class="iWishLoginMsg" style="display: none">
    			Your wishlist has been temporarily saved. Please
    			<a href="/account/login">Log in</a> to save it permanently.
  			</p>
  		{% endunless %}
	</div>
{%- endcomment -%}