<div data-section-type="collection-template" id="collection--{{ collection.handle }}">
 {% paginate collection.products by 10000 %}
 {{ 'promo-banner-plp.css' | asset_url | stylesheet_tag }}
  <div class="{% unless section.settings.promo-banner %}hide{% endunless %} promo-banner--wrapper">
    <div class="promo-banner--container">
      <div class="fake-button">{{ section.settings.summer-sale }}</div>
      <h4>{{ section.settings.discount }}</h4>
    </div>
  </div>  
  <div class="container">
    {% unless collection.handle == 'nail-tools-treatments' or collection.handle == 'nail-polish-gift-set' %}
      <div class="mobile-dynamic-components--wrapper medium-up--hide">
        <div class="mobile-link-list--wrapper">
          {%- assign linklist = linklists[section.settings.mobile_link_list] -%}
          <ul class="linklist">
            {%- for link in linklist.links -%}
              <li class="linklist">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li> 
            {%- endfor -%}
          </ul>
        </div>
        {%- comment -%} Dynamic mobile filter {%- endcomment -%}
        <div class="mobile-dynamic-filter-wrapper">
          <div class="filter-by-color-container">
            <div class="filter-by-color">
              {% render 'filter-icon' %}
              Filter By Color
            </div>
            <div class="multi-tag-row color-swatches-container">
              <div class="tags cat-custom-1">
                {% render 'close-icon' %}
                <ul class="color-swatches-slider" id="mobile-color_menu"> 
                  <li data-tag="sheers" class="swatch-item">
                    <a href="/collections/sheer-nail-polish">Sheers</a>
                  </li>
                  <li data-tag="neutrals" class="swatch-item">
                    <a href="/collections/neutral-nail-polish">Neutrals</a>
                  </li>
                  <li data-tag="greys" class="swatch-item">
                    <a href="/collections/grey-nail-polish">Greys</a>
                  </li>
                  <li data-tag="pinks" class="swatch-item">
                    <a href="/collections/pink-nail-polish">Pinks</a>
                  </li> 
                  <li data-tag="corals" class="swatch-item">
                    <a href="/collections/coral-nail-polish">Corals</a>
                  </li> 
                  <li data-tag="yellows" class="swatch-item">
                    <a href="/collections/yellow-nail-polish">Yellows</a>
                  </li>
                  <li data-tag="reds" class="swatch-item">
                    <a href="/collections/red-nail-polish">Reds</a>
                  </li> 
                  <li data-tag="purples" class="swatch-item">
                    <a href="/collections/purple-nail-polish">Purples</a>
                  </li>  
                  <li data-tag="blues" class="swatch-item">
                    <a href="/collections/blue-nail-polish">Blues</a>
                  </li>  
                  <li data-tag="greens" class="swatch-item">
                    <a href="/collections/green-nail-polish">Greens</a>
                  </li> 
                  <li data-tag="deeps" class="swatch-item">
                    <a href="/collections/deep-nail-polish">Deeps</a>
                  </li>  
                  <li data-tag="metallics" class="swatch-item">
                    <a href="/collections/metallic-nail-polish">Metallics</a>
                  </li> 
                  <li data-tag="glitters" class="swatch-item">
                    <a href="/collections/glitter-nail-polish">Glitters</a>
                  </li> 
                  <li data-tag="neons" class="swatch-item">
                    <a href="/collections/neon-nail-polish">Neons</a>
                  </li>
                  <li data-tag="golds" class="swatch-item">
                    <a href="/collections/gold-nail-polish">Golds</a>
                  </li>
                  <li data-tag="silvers" class="swatch-item">
                    <a href="/collections/silver-nail-polish">Silvers</a>
                  </li>         
                </ul>
              </div>
            </div>
            <script>
              jQuery('#mobile-color_menu li').sort(function(a, b) { 
                var x = parseInt(a.getAttribute('data-order'));
                var y = parseInt(b.getAttribute('data-order'));
                return x < y ? -1 : 1; 
              }).appendTo('#mobile-color_menu');
            </script>
          </div>
        </div>
        {%- comment -%} END: Dynamic mobile filter {%- endcomment -%}
      </div>
    {% endunless %}
    <div class="page-header cf">
      {% if section.settings.coll_desc_pos == 'below' %}
        <h1 class="majortitle">{{ collection.title | escape }}</h1>
      {% endif %}

      {% if collection.description != blank %}
        <div class="user-content lightly-spaced-row {% if settings.lightbox_imgs %}lightboximages{% endif %}">
          {{ collection.description }}
        </div>
      {% endif %}

      {% if section.settings.coll_desc_pos == 'above' %}
        <h1 class="majortitle">{{ collection.title | escape }}</h1>
      {% endif %}
    
      {% comment %} Which tags should we show, and group them into categories {% endcomment %}
      {% assign show_normal_filter = false %}
      {% assign show_custom_filter_1 = false %}
      {% assign show_custom_filter_2 = false %}

      {% if section.settings.show_tagfilt_custom1 %}
        {%- assign custom_tag_arr1 = section.settings.tagfilt_custom1_tags | downcase | replace: ', ',',' | split: ',' -%}
        {%- capture filter1_html -%}
          {%- for s_tag in custom_tag_arr1 -%}
            {%- for c_tag in collection.all_tags -%}
              {%- assign s_tag_lower = s_tag | downcase -%}
              {%- assign c_tag_lower = c_tag | downcase -%}
            
              {%- unless tag contains 'meta-' -%}
                {%- if s_tag_lower == c_tag_lower -%}
                  {%- assign show_custom_filter_1 = true -%}
                  {%- if current_tags contains c_tag -%}
                    <li class="active" data-tag="{{c_tag | handleize}}">{{ c_tag | append: ' <span class="x">&times;</span>' | link_to_remove_tag: c_tag }}</li>
                  {%- else -%}
                    <li data-tag="{{c_tag | handleize}}">{{ c_tag | link_to_add_tag: c_tag }}</li>
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- endcapture -%}
      {% endif %}

      {% if section.settings.show_tagfilt_custom2 %}
        {%- assign custom_tag_arr2 = section.settings.tagfilt_custom2_tags | downcase | replace: ', ',',' | split: ',' -%}
        {%- capture filter2_html -%}
          {%- for tag in collection.all_tags -%}
            {%- unless tag contains 'meta-' -%}
              {%- assign tag_lower = tag | downcase -%}
              {%- if custom_tag_arr2 contains tag_lower -%}
                {%- assign show_custom_filter_2 = true -%}
                {%- if current_tags contains tag -%}
                  <li class="active" data-tag="{{tag | handleize}}">{{ tag | append: ' <span class="x">&times;</span>' | link_to_remove_tag: tag }}</li>
                {%- else -%}
                  <li data-tag="{{tag | handleize}}">{{ tag | link_to_add_tag: tag }}</li>
                {%- endif -%}
              {%- endif -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endcapture -%}
      {% endif %}

      {% if section.settings.coll_show_tags %}
        {%- capture filter_html -%}
          {%- for tag in collection.all_tags -%}
            {%- unless tag contains 'meta-' or custom_tag_arr1 contains tag or custom_tag_arr2 contains tag -%}
              {%- assign show_normal_filter = true -%}
              {%- if current_tags contains tag -%}
                <li class="active" data-tag="{{tag | handleize}}">{{ tag | append: ' <span class="x">&times;</span>' | link_to_remove_tag: tag }}</li>
              {%- else -%}
                <li data-tag="{{tag | handleize}}">{{ tag | link_to_add_tag: tag }}</li>
              {%- endif -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endcapture -%}
      {% endif %}
      {% if collection.title != "All" %}
        <div class="filters">
          {% if show_normal_filter %}
            <a href="#" class="tags" data-toggle-target=".tags.nav-row.cat-normal">{{ 'collections.filtering.filter' | t }} <span class="state">+</span></a>
          {% endif %}
          {% if show_custom_filter_1 %}
            <a href="#" class="tags hidden" data-toggle-target=".tags.nav-row.cat-custom-1">{{ section.settings.tagfilt_custom1_name | escape }} <span class="state">+</span></a>
          {% endif %}
          {% if show_custom_filter_2 %}
            <a href="#" class="tags" data-toggle-target=".tags.nav-row.cat-custom-2">{{ section.settings.tagfilt_custom2_name | escape }} <span class="state">+</span></a>
          {% endif %}
          {% if section.settings.coll_show_sort %}
            <span class="sort tags">
              <label for="sort-by">{{ 'collections.sorting.title' | t }}</label>
              <span class="styled-select styled-select--small">
                <select id="sort-by" data-initval="{{ collection.sort_by | default: collection.default_sort_by  }}">
                  {% if section.settings.coll_show_feat %}<option value="manual">{{ 'collections.sorting.featured' | t }}</option>{% endif %}
                  <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                  <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          <!--             <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                  <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                  <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                  <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option> -->
                  <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                </select>
              </span>
            </span>
          {% endif %}
        </div><!-- /.filters -->
      {% endif %}
      <div class="social-area desktop-only">
        {% if section.settings.coll_gridstream_toggle %}
          <span class="view-as">
            <span class="view-as-label">{{ 'collections.general.view' | t }}</span>
            <a id="view-as-tiles" {% if section.settings.coll_gridstream_mode == 'grid' %}class="active"{% endif %} href="#">{{ 'collections.general.grid' | t }} <div class="fluff1"></div><div class="fluff2"></div><div class="fluff3"></div><div class="fluff4"></div></a>
            <a id="view-as-stream" {% if section.settings.coll_gridstream_mode == 'stream' %}class="active"{% endif %} href="#">{{ 'collections.general.list' | t }} <div class="fluff1"></div><div class="fluff2"></div></a>
          </span>
        {% endif %}
      </div>
    </div><!-- /.page-header -->
  </div><!-- /.container -->

<!-- TOP COLOR FILTER MENU for ALL COLORS -->
{% if collection.title == "Non Toxic Nail Polish" %}
  {% if collection.metafields.global.is_nail_polish == 'true' %}
    {% assign excluded_tags = "Non Toxic" | split: "," %}
    <div class="multi-tag-row">
      <div class="tags nav-row cat-custom-1">
      <ul id="color_menu">      
      {%- for coll in collections -%}
        {% if coll.metafields.global.is_nail_polish == 'true' %}
        {% assign tag_color = coll.title | replace: "Nail Polish", "" | strip %}
        {% if excluded_tags contains tag_color %}
          {% continue %}
        {% endif %}
        <li data-tag="{{ tag_color | downcase }}s" data-order="{{ coll.metafields.global.color_order }}">
          <a href="{{coll.url}}">{{tag_color}}s</a>
        </li>
        {% endif %}
      {%- endfor -%}
      </ul>
      </div>
    </div>
    <script>
      jQuery('#color_menu li')
          .sort(function(a, b) { 
              var x = parseInt(a.getAttribute('data-order'));
              var y = parseInt(b.getAttribute('data-order'));
              return x < y ? -1 : 1; 
          })
          .appendTo('#color_menu');
    </script>
  {% endif %}
{% endif %}
<!-- TOP COLOR FILTER MENU -->
  
<div class="multi-tag-row">
    {% if show_normal_filter %}
    <div class="tags nav-row cat-normal {% unless filter_html contains 'class="active"' %}hidden{% endunless %}">
      <ul>
        {{ filter_html }}
      </ul>
    </div>
    {% endif %}

    {% if show_custom_filter_1 %}
    <div class="tags nav-row cat-custom-1">
      <ul>
        {{ filter1_html }}
      </ul>
    </div>
    {% endif %}

    {% if show_custom_filter_2 %}
    <div class="tags nav-row cat-custom-2 {% unless filter2_html contains 'class="active"' %}hidden{% endunless %}">
      <ul>
        {{ filter2_html }}
      </ul>
    </div>
    {% endif %}
</div><!-- /.multi-tag-row -->

{% if collection.products.size == 0 %}
    <div class="container"><h5 class="align-centre fully-spaced-row">{{ 'collections.general.no_matches' | t }}</h5></div>
{% else %}
    {% unless settings.use_fullwidth_layout %}<div class="container">{% endunless %}

    {%- if section.settings.coll_gridstream_toggle or section.settings.coll_gridstream_mode == 'stream' -%}
      {%- assign include_quick_buy_markup = true -%}
    {%- else -%}
      {%- assign include_quick_buy_markup = false -%}
    {%- endif -%}

    <div class="collection-listing{% if section.settings.coll_gridstream_mode == 'stream' %}-stream{% endif %} cf">
      <div class="product-list">
        {% for product in collection.products %}
          {% include 'bold-product' with product, hide_action: 'skip' %}
          {% include 'product-block' with product, include_quick_buy_markup: include_quick_buy_markup %}
        {% endfor %}
        {% if collection.handle == 'best-sellers' %}
          <div class="product-block fixed-width info-card--wrapper">
            <div class="block-inner">
              <img 
                src="{{ section.settings.first-card | img_url: '233x389' }}"
                srcset="{{ section.settings.first-card | img_url: '233x389' }} 1x, {{ section.settings.first-card  | img_url: '466x778', scale: 2 }} 2x" 
                alt="{{ section.settings.first-card.alt | escape }}"
              >
            </div>
          </div>
        {% elsif collection.handle == 'nail-tools-treatments' or collection.handle == 'nail-polish-gift-set' %}
          <div class="product-block fixed-width info-card--wrapper">
            <div class="block-inner">
              <img 
                src="{{ section.settings.second-card | img_url: '233x389' }}"
                srcset="{{ section.settings.second-card | img_url: '233x389' }} 1x, {{ section.settings.second-card  | img_url: '466x778', scale: 2 }} 2x" 
                alt="{{ section.settings.second-card.alt | escape }}"
              >
            </div>
          </div>
        {% else %}
          <div class="product-block fixed-width info-card--wrapper">
            <div class="block-inner">
              <img 
                src="{{ section.settings.first-card | img_url: '233x389' }}"
                srcset="{{ section.settings.first-card | img_url: '233x389' }} 1x, {{ section.settings.first-card  | img_url: '466x778', scale: 2 }} 2x" 
                alt="{{ section.settings.first-card.alt | escape }}"
              >
            </div>
          </div>
        {% endif %}
      </div>
    </div>
      <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        let allAddToCarts=document.querySelectorAll('.add-to-cart-ajax')
        let trackAddToCarts = (event) => { ga('send', 'event', 'PLP Add to Cart', 'Click') }
        allAddToCarts.forEach(item => {
          item.addEventListener('click',trackAddToCarts)
        })
      });
    </script>

    {% unless settings.use_fullwidth_layout %}</div>{% endunless %}
{% endif %}

<!-- BOTTOM COLOR FILTER MENU -->
{% if collection.title != "Non Toxic Nail Polish" %}
  {% if collection.metafields.global.is_nail_polish == 'true' %}
    {% assign excluded_tags = "Non Toxic" | split: "," %}
    <div class="multi-tag-row bottom-row">
      <div class="tags nav-row cat-custom-1">
      <ul id="color_menu">      
      {%- for coll in collections -%}
        {% if coll.metafields.global.is_nail_polish == 'true' %}
        {% assign tag_color = coll.title | replace: "Nail Polish", "" | strip %}
        {% if excluded_tags contains tag_color %}
          {% continue %}
        {% endif %}
        <li data-tag="{{ tag_color | downcase }}s" data-order="{{ coll.metafields.global.color_order }}">
          <a href="{{coll.url}}">{{tag_color}}s</a>
        </li>
        {% endif %}
      {%- endfor -%}
      </ul>
      </div>
    </div>
    <script>
      jQuery('#color_menu li')
          .sort(function(a, b) { 
              var x = parseInt(a.getAttribute('data-order'));
              var y = parseInt(b.getAttribute('data-order'));
              return x < y ? -1 : 1; 
          })
          .appendTo('#color_menu');
    </script>
  {% endif %}
{% endif %}  
<!-- BOTTOM COLOR FILTER MENU -->
  
<div class="container">
  <div class="bottom-description">
      {{ collection.metafields.global.bottom_description }}
  </div>
</div>  
  
<!--<div class="container pagination-row">{% include 'pagination-control' %}</div>-->

{% endpaginate %}
</div>
<script>
  const params = new URLSearchParams(window.location.search)
  if (params.has('kw')) {
    document.querySelector('.majortitle').innerHTML = params.get('kw');
  }  
</script>

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "coll_desc_pos",
        "label": "Description position",
        "options": [
          {
            "value": "below",
            "label": "Below collection title"
          },
          {
            "value": "above",
            "label": "Above collection title"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Show 'sort by' dropdown",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_feat",
        "label": "Show 'Featured' in sort by",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "coll_show_tags",
        "label": "Show ungrouped tags",
        "default": true
      },
      {
        "type": "header",
        "content": "Tag group 1"
      },
      {
        "type": "checkbox",
        "id": "show_tagfilt_custom1",
        "label": "Show",
        "default": false
      },
      {
        "type": "text",
        "id": "tagfilt_custom1_name",
        "label": "Name"
      },
      {
        "type": "text",
        "id": "tagfilt_custom1_tags",
        "label": "Tags to include",
        "info": "Separate with commas"
      },
      {
        "type": "header",
        "content": "Tag group 2"
      },
      {
        "type": "checkbox",
        "id": "show_tagfilt_custom2",
        "label": "Show",
        "default": false
      },
      {
        "type": "text",
        "id": "tagfilt_custom2_name",
        "label": "Name"
      },
      {
        "type": "text",
        "id": "tagfilt_custom2_tags",
        "label": "Tags to include",
        "info": "Separate with commas"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "coll_num_per_page_int",
        "min": 16,
        "max": 40,
        "step": 8,
        "label": "Number of products to show per page",
        "default": 16
      },
      {
        "type": "select",
        "id": "coll_gridstream_mode",
        "label": "Show products in a grid or a list",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "stream",
            "label": "List"
          }
        ],
        "default": "grid"
      },
      {
        "type": "checkbox",
        "id": "coll_gridstream_toggle",
        "label": "Show toggle for grid and list views",
        "default": true
      },
      {
        "type": "link_list",
        "id": "mobile_link_list",
        "label" : "Mobile Main Menu"
      },
      {
        "type": "image_picker",
        "id": "first-card",
        "label": "First Info Card"
      },
      {
        "type": "image_picker",
        "id": "second-card",
        "label": "Second Info Card"
      },
      {
        "type": "checkbox",
        "id": "promo-banner",
        "label": "Show Promo Banner",
        "default": false
      },
      {
        "type": "text",
        "id": "summer-sale",
        "label": "Summer Sale Copy",
        "default": "Shop Côte’s Summer Sale"
      },
      {
        "type": "text",
        "id": "discount",
        "label": "Discount",
        "default": "Enjoy 25% off sitewide!"
      }
    ]
  }
{% endschema %}

{% javascript %}
  /*$('.color-swatches-slider').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: true,
    dots: false,
    prevArrow:"<button type='button' class='slick-prev pull-left'><svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='8' fill='#3E4B57'/><path d='M10 4L6 8L10 12' stroke='white'/></svg></button>",
    nextArrow:"<button type='button' class='slick-next pull-right'><svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='8' transform='rotate(-180 8 8)' fill='#3E4B57'/><path d='M6 12L10 8L6 4' stroke='white'/></svg></button>",
    infinite: true  
  });*/
  $(document).ready(function() {
    $('.filter-by-color').click(function() {
      $('.filter-by-color-container').css('height', '403px');
      $('.color-swatches-container').css('opacity', '1');
    });
    $('.close-icon__wrapper svg').click(function() {
      $('.filter-by-color-container').css('height', '46px');
        $('.color-swatches-container').css('opacity', '0');
    });
    $(window).bind('scroll', function() {
      if ($(window).scrollTop() > 60) {
        $('.mobile-dynamic-components--wrapper').addClass('sticky');
        /*$('.filter-by-color-container').css('height', '403px'); 
        $('.color-swatches-container').css('opacity', '1');*/
      } else {
        $('.mobile-dynamic-components--wrapper').removeClass('sticky');
        /*$('.filter-by-color-container').css('height', '403px'); 
        $('.color-swatches-container').css('opacity', '0');*/
      }
    });
    /*let lastScroll = $(window).scrollTop();
    $(window).scroll(function() {
      const currentScroll = $(window).scrollTop(); 
      if (currentScroll > lastScroll){
        // scroll down 
        $('.filter-by-color-container').css('height', '403px');
        $('.mobile-link-list--wrapper').css('display', 'none');
        $('.color-swatches-container').css('opacity', '1');
      } else {
        // scroll up
        $('.filter-by-color-container').css('height', '46px');
        $('.mobile-link-list--wrapper').css('display', 'block');
        $('.color-swatches-container').css('opacity', '0');
      }
      // scroll update
      lastScroll = currentScroll <= 0 ? 0 : currentScroll;
    });*/
  });
{% endjavascript %}

{% stylesheet 'scss' %}
  .medium-down--hide {
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  .medium-up--hide {
    @media screen and (min-width: 769px) {
      display: none !important;
    }
  }
  @media screen and (max-width: 768px) {
    .dynamic-filter-collection-template {
      .collection-template {
        .container {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    .info-card--wrapper {
      .block-inner {
        img {
          height: 290px;
        }
      }
    }
  }
  .mobile-link-list--wrapper {
    background-color: #fff;
    padding: 21px 0;
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(124px,1fr));
      grid-gap: 0 5px;
      grid-auto-flow: column;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      scrollbar-color: transparent transparent;
      scrollbar-width: 0px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      >* {
        scroll-snap-align: start;    
      }
      li {
        text-align: center;
        list-style: none;
        min-width: 126px;
        a {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.03em;
          color: #636B74;
          text-align: center;
        }
      }
    }
  }
  .sticky {
    min-width: 100%;
    position: fixed;
    right: .5px;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .mobile-dynamic-filter-wrapper {
    background-color: #fff;
    .filter-by-color-container {
      border: 1px solid #C7CBCF;
      box-sizing: border-box;
      height: 46px;
      padding: 12px 0 0;
      .filter-by-color {
        color: #36414C;
        font-family: 'Lato';
        font-weight: 600;
        font-size: 14px;
        font-style: normal;
        letter-spacing: 0.03em;
        line-height: 17px;
        text-align: center;
        svg {
          height: 20px;
          fill: #36414C;
          vertical-align: sub;
          width: 20px;
        }
      }
      .color-swatches-container {
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        .color-swatches-slider {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 1em 1.5em;
          .slick-prev, .slick-next {
            height: 16px;
            width: 16px;
            svg {
              fill: #36414C;
              height: 16px;
              opacity: 1;
              width: 16px;
            }
          }
          .slick-prev {
            left: -20px;
          }
          .swatch-item {
            list-style: none;
            margin-bottom: 15px;
            text-align: left;
            width: 50%;
            a {
              color: #636B74;
              font-family: 'Lato';
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              letter-spacing: 0.03em;
              line-height: 16px;
              text-transform: capitalize;
            }
            &:nth-of-type(16), &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
{% endstylesheet %}